APP_NAME = "Rag-App"
APP_VERSION = "0.1"
OPENAI_API_KEY =""

FILE_ALLOWED_TYPES = ["text/plain" , "application/pdf" ,  "application/octet-stream"]
FILE_MAX_SIZE = 10 
FILE_DEAFULT_CHUNCK_SIZE = 512000